
.contacts {
    li {
        flex: 1;
        i {
            font-size: 64px;
        }
    }
}


.booking {
    display: flex;
    max-height: 200px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    .booking-img {
        display: block;
        flex: 30%;
        width: 100%;
        img {
            @include styleImage(100%, 100%, cover);
        }

    }
    .booking-right {
        padding: 20px;
        flex: 70%;
        background-color: var(--black);
        width: 100%;
        display: flex;
        justify-content: space-between;
        .booking-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .booking-subtitle {
                @include styleTitle(var(--fs16), none, var(--white));
            }
            .booking-title {
                @include styleTitle(var(--fs28), bold, var(--white));
            }
        }
        .booking-btn {
            margin: auto 0;
            button {
                @include styleTitle(var(--fs16), bold, var(--black));
                background-color: var(--white);
                border-radius: 12px;
                padding: 20px 40px;
                &:hover {
                    background-color: #444;
                }
            }
        }

    }
}

.meet-our-team {
    width: 100%;
    margin-bottom: 50px;
}
.our-team {
    display: flex;
    height: 100%;
    gap: 20px;
    li {
        flex: 1;
        height: 100%;
        .our-team-img {
            height: 100%;
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            img {
                @include styleImage(100%, 100%, cover);
                filter: grayscale(100%);
            }
        }
        .name {
            @include styleTitle(var(--fs20), bold, inerhit);
            text-align: center;
            padding: 10px;
        }
        .position {
            font-size: var(--fs16);
            text-align: center;
        }
    }
}
.margine-bottom {
    margin-bottom: 100px;
    padding: 5% 100px 0px 100px;
    align-items: center;
    justify-content: flex-start;
    background: url(../assets/images/beach7.jpg) 0 0/cover no-repeat;
    img {
        width: 58px;
        color: var(--white);
    }
    .title {
         -webkit-text-stroke: 0px var(--black);
         text-align: center;
    }
}
.explore {
    padding: 40px;
    ul {
        justify-content: space-around;
        li {
            flex: 1;
            padding-left: 0px;
            justify-content: center;
            align-items: center;
            &:nth-child(2),
            &:nth-child(3) {
                border-left: 1px solid grey;
                border-right: 1px solid grey;
            }
            p[class="bold"] {
                font-size: var(--fs36)
            }
        }
    }
}


@media (max-width: 1024px) {
    .explore {
        padding: 20px;
    }
    .booking {
        .booking-right {
            .booking-btn {
                button {
                    padding: 10px 20px;
                }
            }
        } 
    }
}
@media (max-width: 320px) {
    .booking {
        margin-top: 20px;
    }
    .meet-our-team {
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px 5px;
            .name {
                padding: 5px;
            }

        }
    }
    .dreams {
        white-space: nowrap;
        .title {
            font-size: var(--fs28);
        }
    }
    .margine-bottom {
        margin-bottom: 20px;
    }
}