footer {
    width: 100%;
    a {
        display: inline-block;
    }
}

.dark-block {
    position: relative;
    background-color: var(--black);
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: var(--fs36);
    img {
        position: absolute;
    }
    img:nth-child(1) {
        left: 10%;
        bottom: 20%;
    }
    img:nth-child(2) {
        left: 60%;
        top: 5%;
    }
    img:nth-child(3) {
        right: 10%;
        bottom: 20%;
    }
}
.question {
   p {color: var(--white);}
   margin-bottom: 16px;   
}
.phone {
    p {color: var(--white);} 
    font-weight: bold; 
}
.info-block {
    padding: 60px 120px;
    ul {
        display: flex;
        
        li {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            a {
                font-size: 16px;
                img {
                    width: 20px;
                }
            }
            &:nth-child(1) { flex: 30%;  }
            &:nth-child(2) { flex: 20%;  }
            &:nth-child(3) { flex: 20%;  }
            &:nth-child(4) { flex: 30%;  }
        }
    }
}
.social {
    p {
        color: gray;
        padding-bottom: 20px;
    }
}
.subtitle {
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 20px !important;
}
.copyright {
    text-align: center;
    color: grey;
    padding-bottom: 20px;
}

@media (max-width: 320px) {
    footer {
        .info-block {
            ul {
                flex-direction: column;
            }
        }
    }
}