
main {
    font-family: "Roboto";
    padding: 0px 100px 25px 100px;
}
.bold {
    font-weight: bold;
}
.dreams {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    border-radius: 30px; 
    padding-left: 7.5%;
    padding-right: 50%;
    margin-bottom: 50px;
    background: url(../assets/images/beach.jpeg) 0 0/cover no-repeat;
    .title {
        @include styleTitle(50px, bold, var(--white));
        -webkit-text-stroke: 1px var(--black);
    }
    .text {
        @include styleTitle(var(--fs20), none, var(--white));
    }
}
.search-bar {
    position: absolute;
    background-color: var(--white);
    bottom: -15%;
    left: 50%;
    transform: translate(-50%);
    font-size: var(--fs16);
    padding: 20px 24px;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            padding-left: 40px;
            box-sizing: border-box;
            img {
                position: absolute;
                top: 10px;
                left: 0;
            }
            button {
                background-color: var(--black);
                color: var(--white);
                padding: 10px 20px;
                border-radius: 12px;
                box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
                i {
                    color: var(--white);
                }
            }
            &:last-child {
                padding-left: 10px;
            }
        }
    }
}
.popular-destinations {
    margin-top: 30px;
    width: 100%;
}
.block-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    a {
        @include styleTitle(var(--fs16), bold, var(--black));
    }
}
.block-title {
    @include styleTitle(var(--fs48), bold, var(--black));
    margin: 25px 0px 20px 0px;
    text-align: center;
}
.block-text,
.news-subtitle {
    font-size: var(--fs16);
    color: grey;
}

.destinations {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
    a {
        width: 100%;
        height: 25vh;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        &:hover {
            @include hoverBlock;
        }
        img {
            @include styleImage(100%, 100%, cover);
        }
        p {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-text-stroke: 1px #7e7e7e;
            @include styleTitle(var(--fs48), bold, var(--white));
        }
    }
}
.count-of-tours {
    position: absolute;
    top: 20px;
    right: 20px;
    @include styleTitle(var(--fs16), none, var(--white));
    background-color: var(--black);
    padding: 4px 12px;
    border-radius: 8px;
}
button{
    border: none;
    cursor: pointer;
    color: var(--white);
    background: none;
    transition: all .3s ease-in-out;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.news-content {
    border-radius: 20px;
    padding-bottom: 10px;
    &:hover {
        @include hoverBlock;
    }
}
.news-image {
    display: block;
    @include styleImage(100%, 100%, cover);
    border-radius: 20px;
    height: 25vh;
    margin-bottom: 16px;
}
.news-subtitle {
    margin-bottom: 12px;
    padding-left: 10px;
}
.news-title {
    padding-left: 10px;
    @include styleTitle(var(--fs20), bold, var(--black));
    margin-bottom: 20px;
}
.news-link {
    padding-left: 10px;
}

.offers {
    height: 30vh;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 60px;
    box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
}
.offers-image {
    flex: 50%;
    img {
        @include styleImage(100%, 100%, cover);
    }
}
.offers-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 50%;
    box-sizing: border-box;
    padding: 2% 5%;
}
.offers-title {
    @include styleTitle(var(--fs28), bold, var(--black));
    margin-bottom: 20px;
}
.offers-text {
    @include styleTitle(var(--fs16), none, grey);
    margin-bottom: 40px;
}
.subscribe {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid #c5c5c5;
    input[type="email"] {
        padding: 5px 20px;
    }
    input[type="button"] {
        background-color: var(--black);
        @include styleTitle(var(--fs16), none, var(--white));
        padding: 5px 20px;
        border-radius: 8px;
    }
}
.featured-destinations {
    margin-bottom: 20px;
    ul {
        height: 40vh;
        display: flex;
        gap: 24px;
        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
            position: relative;
            .featured-image {
                flex: 0 0 60%;
                overflow: hidden;
                img {
                    @include styleImage(100%, 100%, cover);
                    object-position: center;
                }
            }
            .featured-content {
                flex: 0 0 40%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 20px;
                box-sizing: border-box;
            }
            &:hover {
                @include hoverBlock;
            }
        }
    }
}

.purpose {
    @include styleTitle(var(--fs20), bold, var(--black));
}
.rank {
    font-size: var(--fs16);
    span {
        white-space: nowrap;
    } 
}
.price {color: grey;}
.old-price {
    font-size: var(--fs16);
    opacity: 0.5;
    text-decoration: line-through;
}
.new-price {font-weight: bold;}

.luxury {
    ul {
        display: flex;
        gap: 20px;
       li {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 20px;
            padding: 50px;
            img {
                margin: auto;
                width: 64px;
            }
            .luxury-title {
                @include styleTitle( var(--fs20), bold, var(--black));
            }
            .luxury-subtitle {
                font-size: var(--fs16);
            }
            .luxury-text {
                font-size: var(--fs16);
                opacity: 0.8;
            }
       }
    }
}

// slider
.slider-container,
.top-destinations 
 {
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
        gap: 20px;
        .slide {
            box-sizing: border-box;
            text-align: center;
            font-size: 24px;
        }
    }
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);   
        cursor: pointer;
        padding: 10px;
        z-index: 10;   
    }
}

.slider-one {
    .slide {
        flex: 0 0 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;      
    }
}
.slider-three {
       .slide {
        flex: 1 0 calc(33.333% - 17.5px);
    }
    .prev {
        left: 0;
        background-color: #ffffff77;
        border-radius: 50%;
    }
    .next {
        right: 10px;
        background-color: #ffffff77;
        border-radius: 50%;
    }
}
.slide-img {
    img {
        border-radius: 50%;
    }
}
.slide-name {
    font-size: 20px;
    }
.slide-feedback {
    font-size: 16px;
    padding: 0px 20%;
}
.prev { left: 0; }
.next { right: 0; }

.top-img {
    @include styleImage(100%, 100%, cover);
    border-radius: 10px;
}
.top-block {
    position: relative;
    &:hover {
        @include hoverBlock;
    }
}
.top-title,
.top-offer {
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.top-title {
    width: 80%;
    left: 50%;
    transform: translateX(-50%); 
    @include styleTitle(var(--fs28), bold, var(--white));
}
.top-offer {
    height: max-content;
    top: 20px;
    right: 20px;
    background-color: var(--black);
    padding: 4px 12px;
    border-radius: 8px;
    @include styleTitle(14px, bold, var(--white));
}

// adaptive
@media (max-width: 1200px) {
    .rank {
        font-size: calc(var(--fs16) - 4px);
    }
    .dreams {
        height: 40vh;
        padding-right: 40%;
    }
}
@media (max-width: 1024px) {
    header,
    main,
    footer {
        --fs36: 30px;
        --fs28: 20px;
        --fs20: 18px;
        --fs16: 14px;
    }
    header,
    main {        
        padding-left: 50px;
        padding-right: 50px;
    }

    footer {
        .info-block { padding: 30px 30px; }
    }
    header {
        .modal-form {
            margin-left: 10px;
        }
    }
    .dreams {
        height: 30vh;
        .title{
            font-size: var(--fs36);
        }

    }
    .top-offer,
    .count-of-tours {
        top: 10px;
        right: 10px;
    }
    .luxury {
        ul {
            gap: 10px;
           li {
                gap: 10px;
                padding: 20px;
            }
        }
    }
    .featured-destinations {
        ul {
            gap: 20px;
            li {
                .featured-image {
                    flex: 0 0 50%;
                }
                .featured-content {
                    flex: 0 0 50%;
                    padding-top: 10px;
                    .price {
                        font-size: var(--fs16);
                    }
                }
            }
        }
    }
    .bonus {
        font-size: var(--fs16);
        p {
            margin-bottom: 0px !important;
        }
    }
    .destination {
        .destination-content {
            .destination-icon {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    header,
    main,
    footer {
        --fs48: 36px;
    }
    header {
        nav ul li a {font-size: calc(var(--fs20) - 4px);}
    }
    .dreams {
        height: 20vh;
        padding-right: 10%;
        .text {
            display: none;
        }
        .search-bar {
            bottom: -30%;
            ul{
                li {
                    padding-left: 30px;
                    button {
                        font-size: calc(var(--fs16) - 2px);
                        padding: 10px;
                    }
                }
            }            

        }
    }
    .popular-destinations{
        .destinations {
            a {
                height: 20vh;
                p {
                    font-size: var(--fs36);
                }
            }
        }
    }
    .top-title {
        font-size: calc(var(--fs20) - 2px) ;

    }
    .featured-destinations {
        ul {
            height: 25vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: auto;
        }
    }
    .purpose {
        font-size: var(--fs16);
    }
    .offers {
        height: 20vh;
        .offers-image {
            display: none;
        }
        .offers-content {
            width: 100%;
            padding: 20px 10px;
            .offers-title,
            .offers-text {
                margin-bottom: 10px;
            }
            .subscribe {
                display: flex;
                flex-direction: column;
            }
        }
    }
    .news {
        .destinations {
            .news-content {
                .news-image {
                    height: 20vh;
                }
            }
        }
    }
    .slider-three .slide {
        flex: 0 0 100%; 
    }
}

@media (max-width: 320px) {
    header {
        nav {
            ul {
                display: none;
            }
        }
    }
    header,
    main,
    footer {
        --fs48: 36px;
        --fs36: 24px;
        --fs28: 16px;
        --fs20: 12px;
        --fs16: 10px;
    }
    header,
    main {        
        padding-left: 20px;
        padding-right: 20px;
    }
    .dreams {
        height: 15vh;
        margin-bottom: 20px;
        .search-bar {
            display: none;
        }
    }
    .popular-destinations {
        .block-content {
            gap: 5px;
            .block-title {
                margin: 0px;
            }
        }
        .destinations {
            grid-template-columns: 1fr 1fr;
        }
    }
    .top-destinations {
        margin: 20px 0;
    }

    .luxury {
        display: none;
    }
    .featured-destinations {
        .block-content {
            gap: 10px;
            .block-title {
                margin: 10px 0px;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            height: auto;
        }
    }

    .news {
        .block-content {
            .block-title {
                margin: 0px;
            }
        }
        .destinations {
            grid-template-columns: 1fr;
        }

    }
}