.margine-top {
    margin-top: 50px;
}
.tour768 {
    display: block;
}
.fs16 {
    font-size: var(--fs16);
}
.adventure {
    padding-top: 25px;
    height: 40vh;
    display: flex;
    gap: 20px;
    li {
        flex: 1;
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        img {
            @include styleImage(100%, 100%, cover);
        }
        &:hover {
            @include hoverBlock;
        }
    }
    .adventure-content {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        img {
            height: 28px;
            width: 38px;
        }
        p {
            @include styleTitle(var(--fs28), bold, var(--white));
            word-break: keep-all;
            text-align: center;
        }
        button {
            background-color: var(--white);
            color: var(--black);
            padding: 10px 40px;
            border-radius: 12px;
        }
    }
}

@media (max-width: 768px) {
    .contact-us-img {
        height: 20vh;
    }
    .adventure {
        height: 30vh;
    }
    .margine-top {
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .contact-us-img { height: 15vh;}
    .adventure {
    flex-direction: column;
    height: max-content;
    li {
        height: 20vh;
        overflow: hidden;
        width: 100%;
        img {
            box-sizing: border-box;
            @include styleImage(100%, 100%, cover);
            }
        .adventure-content {
            width: 100%;
            }
        }
    }
}