@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
:root {
  --black: #1a1a1a;
  --white: #fafafa;
  --fs48: 48px;
  --fs36: 36px;
  --fs28: 28px;
  --fs20: 20px;
  --fs16: 16px;
}

* {
  margin: 0;
  padding: 0;
  color: var(--black);
  -webkit-transition: 250ms;
  transition: 250ms;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1920px;
  background-color: var(--white);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  padding: 25px 100px;
}

.active {
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: var(--fs20);
  font-weight: none;
  color: var(--black);
}
nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav a p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--black);
}
nav a img {
  width: 100%;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav button {
  color: var(--white);
  background-color: var(--black);
  padding: 10px 20px;
  border-radius: 12px;
  margin-left: 24px;
}
nav button:hover {
  background-color: #444;
}

.modal {
  margin: auto auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(250, 250, 250, 0.4862745098);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: fadeIn 500ms ease-in;
          animation: fadeIn 500ms ease-in;
}
.modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.modal form ul li {
  width: 100%;
}
.modal form ul li label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--fs28);
  gap: 40px;
}
.modal form ul li label input {
  font-size: var(--fs20);
  border: #373737 1px solid;
  padding: 10px;
  border-radius: 10px;
  color: #373737;
}
.modal form ul a {
  font-size: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.modal form input[type=submit] {
  background-color: var(--black);
  padding: 10px;
  font-size: var(--fs28);
  font-weight: none;
  color: var(--white);
  border-radius: 10px;
  margin-top: 20px;
}
.modal form input[type=submit]:hover {
  background-color: #444;
}

/* Бургер-меню */
.burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.burger-lines {
  width: 100%;
  height: 3px;
  background-color: var(--black);
}

@media (max-width: 320px) {
  header {
    padding: 15px;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-links {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background: #333;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px 0;
    z-index: 100;
  }
  .nav-links li {
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  .nav-links a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: var(--white);
  }
  .nav-links.nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
main {
  font-family: "Roboto";
  padding: 0px 100px 25px 100px;
}

.bold {
  font-weight: bold;
}

.dreams {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  border-radius: 30px;
  padding-left: 100px;
  padding-right: 50%;
  margin-bottom: 50px;
  background: url(../assets/images/beach.jpeg) 0 0/cover no-repeat;
}
.dreams .title {
  font-size: 60px;
  font-weight: bold;
  color: var(--white);
  -webkit-text-stroke: 1px var(--black);
}
.dreams .text {
  font-size: var(--fs20);
  font-weight: none;
  color: var(--white);
}

.search-bar {
  position: absolute;
  background-color: var(--white);
  bottom: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: var(--fs16);
  padding: 20px 24px;
  border-radius: 20px;
  width: 80%;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.search-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-bar ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: relative;
  padding-left: 40px;
}
.search-bar ul li img {
  position: absolute;
  top: 10px;
  left: 0;
}
.search-bar ul li button {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.search-bar ul li button i {
  color: var(--white);
}

.popular-destinations {
  margin-top: 30px;
  width: 100%;
}

.block-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.block-content a {
  font-size: var(--fs16);
  font-weight: bold;
  color: var(--black);
}

.block-title {
  font-size: var(--fs48);
  font-weight: bold;
  color: var(--black);
  margin: 25px 0px 20px 0px;
  text-align: center;
}

.block-text,
.news-subtitle {
  font-size: var(--fs16);
  color: grey;
}

.news-content:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.destinations {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.destinations a {
  width: 100%;
  height: 25vh;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.destinations a:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.destinations a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destinations a p {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px #7e7e7e;
  font-size: var(--fs48);
  font-weight: bold;
  color: var(--white);
}

.count-of-tours {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: var(--fs16);
  font-weight: none;
  color: var(--white);
  background-color: var(--black);
  padding: 4px 12px;
  border-radius: 8px;
}

button {
  border: none;
  cursor: pointer;
  color: var(--white);
  background: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--white);
}

.news-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  height: 25vh;
  margin-bottom: 16px;
}

.news-subtitle {
  margin-bottom: 12px;
}

.news-title {
  font-size: var(--fs20);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 20px;
}

.offers {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 60px;
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.offers-image {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
.offers-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.offers-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 100px;
}

.offers-title {
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--black);
  margin-bottom: 20px;
}

.offers-text {
  font-size: var(--fs16);
  font-weight: none;
  color: grey;
  margin-bottom: 40px;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #c5c5c5;
}
.subscribe input[type=email] {
  padding: 5px 20px;
}
.subscribe input[type=button] {
  background-color: var(--black);
  font-size: var(--fs16);
  font-weight: none;
  color: var(--white);
  padding: 5px 20px;
  border-radius: 8px;
}

.featured-destinations {
  margin-bottom: 20px;
}
.featured-destinations ul {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.featured-destinations ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
}
.featured-destinations ul li .featured-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  overflow: hidden;
}
.featured-destinations ul li .featured-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.featured-destinations ul li .featured-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.featured-destinations ul li:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.purpose {
  font-size: var(--fs20);
  font-weight: bold;
  color: var(--black);
}

.rank {
  font-size: var(--fs16);
}
.rank span {
  white-space: nowrap;
}

.price {
  color: grey;
}

.old-price {
  font-size: var(--fs16);
  opacity: 0.5;
  text-decoration: line-through;
}

.new-price {
  font-weight: bold;
}

.luxury ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.luxury ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 50px;
}
.luxury ul li img {
  margin: auto;
  width: 64px;
}
.luxury ul li .luxury-title {
  font-size: var(--fs20);
  font-weight: bold;
  color: var(--black);
}
.luxury ul li .luxury-subtitle {
  font-size: var(--fs16);
}
.luxury ul li .luxury-text {
  font-size: var(--fs16);
  opacity: 0.8;
}

.slider-container,
.top-destinations {
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  gap: 20px;
}
.slider .slides .slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 24px;
}
.slider button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.slider-one .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-three .slide {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(33.333% - 17.5px);
          flex: 1 0 calc(33.333% - 17.5px);
}
.slider-three .prev {
  left: 0;
  background-color: rgba(255, 255, 255, 0.4666666667);
  border-radius: 50%;
}
.slider-three .next {
  right: 10px;
  background-color: rgba(255, 255, 255, 0.4666666667);
  border-radius: 50%;
}

.slide-img img {
  border-radius: 50%;
}

.slide-name {
  font-size: 20px;
}

.slide-feedback {
  font-size: 16px;
  padding: 0px 20%;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.top-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.top-block {
  position: relative;
}
.top-block:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.top-title,
.top-offer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.top-title {
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--white);
}

.top-offer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 20px;
  right: 20px;
  background-color: var(--black);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: var(--white);
}

@media (max-width: 1024px) {
  header,
  main,
  footer {
    --fs36: 30px;
    --fs28: 20px;
    --fs20: 16px;
    --fs16: 12px;
  }
  header,
  main {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .info-block {
    padding: 30px 30px;
  }
  header .modal-form {
    margin-left: 10px;
  }
  .dreams {
    height: 30vh;
    padding: 20px 50px;
  }
  .dreams .title {
    font-size: var(--fs36);
  }
  .top-offer,
  .count-of-tours {
    top: 10px;
    right: 10px;
  }
  .luxury ul {
    gap: 10px;
  }
  .luxury ul li {
    gap: 10px;
    padding: 20px;
  }
  .featured-destinations ul {
    gap: 20px;
  }
  .featured-destinations ul li .featured-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .featured-destinations ul li .featured-content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-top: 10px;
  }
  .featured-destinations ul li .featured-content .price {
    font-size: var(--fs16);
  }
  .bonus {
    font-size: var(--fs16);
  }
  .bonus p {
    margin-bottom: 0px !important;
  }
  .destination .destination-content .destination-icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .dreams {
    height: 20vh;
  }
  .popular-destinations .destinations a {
    height: 20vh;
  }
  .popular-destinations .destinations a p {
    font-size: var(--fs36);
  }
  .featured-destinations ul {
    height: 25vh;
  }
  .offers {
    height: 20vh;
  }
  .offers .offers-content {
    padding: 0px 50px;
  }
  .news .destinations .news-content .news-image {
    height: 20vh;
  }
}
@media (max-width: 320px) {
  header nav ul {
    display: none;
  }
  header,
  main,
  footer {
    --fs48: 36px;
    --fs36: 24px;
    --fs28: 16px;
    --fs20: 12px;
    --fs16: 10px;
  }
  header,
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
  .dreams {
    height: 15vh;
    margin-bottom: 20px;
  }
  .dreams .search-bar {
    display: none;
  }
  .popular-destinations .block-content {
    gap: 5px;
  }
  .popular-destinations .block-content .block-title {
    margin: 0px;
  }
  .popular-destinations .destinations {
    grid-template-columns: 1fr 1fr;
  }
  .top-destinations {
    margin: 20px 0;
  }
  .slider-three .slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .luxury {
    display: none;
  }
  .featured-destinations .block-content {
    gap: 10px;
  }
  .featured-destinations .block-content .block-title {
    margin: 10px 0px;
  }
  .featured-destinations ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .offers .offers-image {
    display: none;
  }
  .offers .offers-content {
    width: 100%;
    padding: 20px 10px;
  }
  .offers .offers-content .offers-title,
  .offers .offers-content .offers-text {
    margin-bottom: 10px;
  }
  .offers .offers-content .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .block-content .block-title {
    margin: 0px;
  }
  .news .destinations {
    grid-template-columns: 1fr;
  }
}
footer {
  height: 100px;
  width: 100%;
}
footer a {
  display: inline-block;
}

.dark-block {
  position: relative;
  background-color: var(--black);
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: var(--fs36);
}
.dark-block img {
  position: absolute;
}
.dark-block img:nth-child(1) {
  left: 10%;
  bottom: 20%;
}
.dark-block img:nth-child(2) {
  left: 60%;
  top: 5%;
}
.dark-block img:nth-child(3) {
  right: 10%;
  bottom: 20%;
}

.question {
  margin-bottom: 16px;
}
.question p {
  color: var(--white);
}

.phone {
  font-weight: bold;
}
.phone p {
  color: var(--white);
}

.info-block {
  padding: 60px 120px;
}
.info-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 50px;
}
.info-block ul li a {
  font-size: 16px;
}
.info-block ul li a img {
  width: 20px;
}
.info-block ul li:nth-child(1) {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
}
.info-block ul li:nth-child(2) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}
.info-block ul li:nth-child(3) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}
.info-block ul li:nth-child(4) {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.social p {
  color: gray;
  padding-bottom: 20px;
}

.subtitle {
  font-size: 20px !important;
  font-weight: bold;
  margin-bottom: 20px !important;
}

.copyright {
  text-align: center;
  color: grey;
  padding-bottom: 20px;
}

@media (max-width: 320px) {
  footer .info-block ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contact-us-img {
  height: 30vh;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}
.contact-us-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-us-title {
  position: absolute;
  font-size: var(--fs48);
  font-weight: bold;
  color: var(--white);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
}

.contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.any-questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.left-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.content div {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  margin-bottom: 30%;
}

.left-block {
  text-align: center;
}

.left-block .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.left-block p {
  margin: 10px;
  color: rgba(255, 255, 255, 0.6156862745);
}

.left-block h2 {
  margin: 10px;
  color: rgba(255, 255, 255, 0.6156862745);
}

.left-block button {
  padding: 10px 20px;
  background-color: var(--white);
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.left-block button:hover {
  background-color: #444;
  color: var(--white);
}

.right-block {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: inerhit;
  margin-bottom: 5%;
}
.contact-header p {
  margin: 8px 0 0;
  color: #777;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.form-group input,
.form-group textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.form-group textarea {
  resize: vertical;
  height: 100px;
}

button[type=submit] {
  padding: 12px;
  background-color: var(--black);
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

button[type=submit]:hover {
  background-color: #444;
}

.map {
  padding-top: 50px;
}
.map iframe {
  width: 100%;
  -webkit-filter: grayscale(85%);
          filter: grayscale(85%);
}

@media (max-width: 1024px) {
  .right-block {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
}
@media (max-width: 768px) {
  .contacts-us-img {
    height: 10vh;
  }
}
@media (max-width: 320px) {
  .any-questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .any-questions .right-block .contact-form .form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contacts li i {
  font-size: 64px;
}

.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.booking .booking-img {
  display: block;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  width: 100%;
}
.booking .booking-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.booking .booking-right {
  padding: 20px;
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  background-color: var(--black);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.booking .booking-right .booking-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.booking .booking-right .booking-content .booking-subtitle {
  font-size: var(--fs16);
  font-weight: none;
  color: var(--white);
}
.booking .booking-right .booking-content .booking-title {
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--white);
}
.booking .booking-right .booking-btn {
  margin: auto 0;
}
.booking .booking-right .booking-btn button {
  font-size: var(--fs16);
  font-weight: bold;
  color: var(--black);
  background-color: var(--white);
  border-radius: 12px;
  padding: 20px 40px;
}
.booking .booking-right .booking-btn button:hover {
  background-color: #444;
}

.meet-our-team {
  width: 100%;
  margin-bottom: 50px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  gap: 20px;
}
.our-team li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}
.our-team li .our-team-img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.our-team li .our-team-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.our-team li .name {
  font-size: var(--fs20);
  font-weight: bold;
  color: inerhit;
  text-align: center;
  padding: 10px;
}
.our-team li .position {
  font-size: var(--fs16);
  text-align: center;
}

.margine-bottom {
  margin-bottom: 100px;
  padding: 5% 100px 0px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url(../assets/images/beach7.jpg) 0 0/cover no-repeat;
}
.margine-bottom img {
  width: 58px;
  color: var(--white);
}
.margine-bottom .title {
  -webkit-text-stroke: 0px var(--black);
  text-align: center;
}

.explore {
  padding: 40px;
}
.explore ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.explore ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.explore ul li:nth-child(2), .explore ul li:nth-child(3) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.explore ul li p[class=bold] {
  font-size: var(--fs36);
}

@media (max-width: 1024px) {
  .explore {
    padding: 20px;
  }
  .booking .booking-right .booking-btn button {
    padding: 10px 20px;
  }
}
@media (max-width: 320px) {
  .booking {
    margin-top: 20px;
  }
  .meet-our-team ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 5px;
  }
  .meet-our-team ul .name {
    padding: 5px;
  }
  .dreams {
    white-space: nowrap;
  }
  .dreams .title {
    font-size: var(--fs28);
  }
  .margine-bottom {
    margin-bottom: 20px;
  }
}
.destination {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.destination li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  height: 30vh;
}
.destination li .destination-image {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.destination li .destination-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destination li .destination-image .from {
  position: absolute;
  font-size: var(--fs16);
  font-weight: none;
  color: var(--white);
  background-color: var(--black);
  padding: 4px 12px;
  border-radius: 8px;
}
.destination li .destination-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.destination li .destination-content .destination-title {
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--black);
}
.destination li .destination-content .destination-subtitle {
  font-size: var(--fs16);
  font-weight: none;
  color: gray;
}
.destination li .destination-content .bonus p {
  margin-bottom: 10px;
}
.destination li .destination-content .destination-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-height: 80px;
}
.destination li .destination-content .destination-icons li {
  max-width: 80px;
  max-height: 100%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.destination li .destination-content .destination-icons li p {
  font-size: var(--fs16);
  font-weight: none;
  color: gray;
}
.destination li .destination-content .destination-icons li p i {
  font-size: 20px;
}
.destination li .destination-content button {
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: var(--fs16);
  font-weight: normal;
  color: var(--white);
  background-color: var(--black);
  padding: 20px 40px;
  border-radius: 12px;
}
.destination li .destination-content button:hover {
  background-color: #444;
}
.destination li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.destination li:nth-child(even) .destination-image .from {
  bottom: 20px;
  left: 20px;
}
.destination li:nth-child(odd) .destination-image .from {
  top: 20px;
  right: 20px;
}

@media (max-width: 1024px) {
  .bonus {
    font-size: var(--fs16);
  }
  .bonus p {
    margin-bottom: 0px !important;
  }
  .destination li .destination-content button {
    padding: 10px 20px;
  }
  .destination-icons li {
    display: none !important;
  }
}
@media (max-width: 320px) {
  .contact-us-img {
    height: 15vh;
  }
  .destination {
    gap: 5px;
  }
  .destination li {
    gap: 5px;
  }
  .destination li .destination-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .destination li .destination-content .destination-subtitle,
  .destination li .destination-content .bonus {
    display: none;
  }
  .destination li .destination-image {
    border-radius: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .destination li .destination-image .from {
    display: none;
  }
}
.margine-top {
  margin-top: 50px;
}

.tour768 {
  display: block;
}

.fs16 {
  font-size: var(--fs16);
}

.adventure {
  padding-top: 25px;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.adventure li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.adventure li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.adventure li:hover {
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
.adventure .adventure-content {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.adventure .adventure-content img {
  height: 28px;
  width: 38px;
}
.adventure .adventure-content p {
  font-size: var(--fs28);
  font-weight: bold;
  color: var(--white);
  word-break: keep-all;
  text-align: center;
}
.adventure .adventure-content button {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 40px;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .contact-us-img {
    height: 20vh;
  }
  .adventure {
    height: 20vh;
  }
  .margine-top {
    margin-top: 20px;
  }
}
@media (max-width: 320px) {
  .contact-us-img {
    height: 15vh;
  }
  .adventure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .adventure li {
    height: 20vh;
    overflow: hidden;
    width: 100%;
  }
  .adventure li img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .adventure li .adventure-content {
    width: 100%;
  }
}